/* Genomför en "reset" / mall att utgå ifrån av vanliga återkommande element */
/* https://www.webfx.com/blog/web-design/css-reset-stylesheets/ */
/* Detta endast för att få någon form av browser-oberoende*/

/* Jag använder en windows och linux-vänlig sans-serif font familj. Då jag främst använder detta, Windows 10, Arch-linux */
body {
    font: 13px Helmet, Fressans, sans-seif;
    width: 100%;
    height: 100%;
}

body,
select,
input,
textarea {
    color: #333;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    color: #03f
}

a:hover {
    color: #69f;
    text-decoration: none;
}

::-moz-selection {
    background: #fcd700;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fcd700;
    color: #fff;
    text-shadow: none;
}

a:link {
    -webkit-tap-highlight-color: #fcd700;
    text-decoration: none
}

ins {
    background-color: #fcd700;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #fcd700;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/*  Mozilla Firefox, ger ingen stil av default för placeholders */

input:-moz-placeholder {
    color: #a9a9a9;
}

textarea:-moz-placeholder {
    color: #a9a9a9
}

blockquote {
    padding: 16px;
    background: #eee;
}





/* Här fixar jag mina egna stilar */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    position: relative;
    text-align: left;
    line-height: 1.4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    position: fixed;
    display: block;
    top: 0%;
    width: 100%;
    height: auto;
    background-color: #282A35;
    color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

}


.nav-menu {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-menu a {
    color: #f1f1f1;
    font-size: 1.2em;
    font-weight: 500;
    display: inline;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 20px;
}

.nav-menu a:hover {
    color: yellow;
    font-size: 1.3em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}




footer {
    position: fixed;
    width: 100%;
    height: 20px;
    background: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.15) 3px 3px 3px 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0%;

}

.container {

    border-bottom-left-radius: 0.5em 1em;
    border-bottom-right-radius: 0.5em 1em;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.25) 8px 2px 3px 3px;

    box-sizing: border-box;

    bottom: 30px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#author {
    font-style: italic;
    font-size: 14px;

}



footer p {
    text-align: center;
}

.small-text {
    font-size: 14px;
}

.medium-text {
    font-size: 18px;
}

.large-text {
    font-size: 20px;
}


.svg-icon {
    width: 50px;
    float: left;
    display: inline;
    top: 40px;
    left: 2%;
}


.about {

    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;


}


.profile-img img {

    display: inline-block;
    border-radius: 50%;
    max-width: 10%;
    width: 100px;
    border-style: solid;
    border-color: #000;
    opacity: 0.5;

}

.profile-img img:hover {
    border-radius: 50%;
    max-width: 15%;
    border-style: solid;
    border-color: #000;
    opacity: 1;

}


.competence {
    border-top-left-radius: 0.5em 1em;
    border-top-right-radius: 0.5em 1em;
    border-bottom-left-radius: 0.5em 1em;
    border-bottom-right-radius: 0.5em 1em;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    opacity: 1;
}

.competence:hover {
    opacity: 1;
}


.experience {
    border-top-left-radius: 0.5em 1em;
    border-top-right-radius: 0.5em 1em;
    border-bottom-left-radius: 0.5em 1em;
    border-bottom-right-radius: 0.5em 1em;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: 15%;
    opacity: 1;
}

.experience:hover {
    opacity: 1;
}