/* Här fixar jag mina egna stilar */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    height: 100vh;
    background: linear-gradient(to bottom, #fca49b 0%, #ee7d70 1000%);

}

ul,
li {
    list-style: none;
    text-align: center;
    top: 100%;

}


.container {
    width: 35%;
    margin: 10px auto;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.animate-warning {
    animation: blink-warning 1s forwards;
}


@keyframes blink-warning {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 100%;
    }

    40% {
        opacity: 0%;
    }

    60% {
        opacity: 100%;
    }

    80% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;

    }

}


.animate-fade-in-top {

    animation: fade-in-top 0.5s cubic-bezier(.17, .67, .83, .67);
}

@keyframes fade-in-top {
    0% {
        opacity: 0;
        margin-top: 0px;
    }

    20% {
        opacity: 0.6;
        margin-top: 15px;
    }

    40% {
        opacity: 0.7;
        margin-top: 5px;
    }

    60% {
        opacity: 0.9;
        margin-top: 12px;
    }

    80% {
        opacity: 1;
        margin-top: 8px;
    }


    100% {

        margin-top: 10px;
    }
}


.animate-fade-in-item {
    animation: fade-in-item 1s linear;
}

@keyframes fade-in-item {
    0% {
        opacity: 0;
        margin-top: 20px;
    }

    20% {
        opacity: 1;
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

.title,
.completed {
    text-align: center;
}

.item::before {
    margin-top: 10px;
}

.item {
    margin-bottom: 5px;
}

.warning {
    color: red;
    font-style: italic;
    text-align: center;
    opacity: 0;
}


.item-list {
    font-weight: 600;
    color: #000;
    transition: color 1s linear;

}

.item-list>p:hover {
    text-decoration: line-through;
}

div .item-finished {
    text-decoration: line-through;
    color: gray;
    transition: color 0.3s linear;
}

#deleteButton {
    display: inline;
}