* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container {
    width: 960px;
    height: auto;
    margin: 200px auto;
}

div {}


.circle {
    height: 50px;
    width: 50px;
    background-color: rgba(192, 0, 0, 0.8);
    border-radius: 50%;
    transform: translate(0px, 0px);
    transition: transform 0.5s, border-radius 0.5s;


}

.anim {
    animation: red-blue-green 10s infinite;
}

@keyframes red-blue-green {
    0% {
        border-radius: 50%;
        background-color: rgba(192, 0, 0, 0.8);
        transform: translate(0px, 0px);
    }

    25% {
        border-radius: 50%;
        background-color: rgba(0, 0, 192, 0.8);
        transform: translate(200px, 0px);

    }

    50% {
        border-radius: 50%;
        background-color: rgba(192, 0, 192, 0.8);
        transform: translate(200px, 200px);

    }

    75% {
        border-radius: 50%;
        background-color: rgba(0, 192, 0, 0.8);
        transform: translate(0px, 200px);

    }

    100% {
        border-radius: 50%;
        background-color: rgba(192, 0, 0, 0.8);
        transform: translate(0px, 0px);

    }
}

.blue {
    background-color: rgba(0, 0, 190, 0.5);
}